name: Cloning


on: [push] 

env:
  GIT_URL: https://github.com/JamieHoSzeYui/HenloButt
  BOTKEY: ${{ secrets.BOTKEY }}
  USERKEY: ${{ secrets.USERKEY }}

jobs:
    build:
     runs-on: ubuntu-latest

     steps:
       - name: Checkout
         uses: actions/checkout@master
       
       - name: Clone your code
         run: | 
              sudo -E apt-get -qq update
              sudo -E apt-get -qq install expect make python build-essential
              git config --global user.name "JamieHoSzeYui"
              git config --global user.email "secrets.EMAIL"
              git clone $GIT_URL bruh
              cd bruh
              npm install &&npm audit fix
              npm audit fix &&npm install
              
       - name: Bot init
         continue-on-error: true
         env:
           BOTKEY: ${{ secrets.BOTKEY }}
           USERKEY: ${{ secrets.USERKEY }} 
         run: |
              cd bruh
              rm -rf config.example.json
              touch config.json
              echo "{" >> config.json
              echo "          "authToken": "$BOTKEY"," >> config.json
              echo "          "owner": $USERKEY" >> config.json
              echo "}" >> config.json 
              ls
              
               
               
       - name : Launch Bot
         continue-on-error: true
         timeout-minutes: 340
         run: |
              cd bruh
              expect -c "
              spawn node server
              expect \"API\"
              send \"$BOTKEY\r\"
              expect \"enter\"
              send \"$USERKEY\r\"
              set timeout -10
              interact"
              node server
 
         
