name: Cloning


on: [push] 

env:
  GIT_URL: https://github.com/JamieHoSzeYui/HenloBot
  BOTKEY: ${{ secrets.BOTKEY }}
  USERKEY: ${{ secrets.USERKEY }}

jobs:
    build:
     runs-on: ubuntu-latest

     steps:
       - name: Checkout
         uses: actions/checkout@master
       
       - name: Clone your code
         run: | 
              sudo -E apt-get -qq update
              sudo -E apt-get -qq install expect python3-pip python3
              git config --global user.name "JamieHoSzeYui"
              git config --global user.email "secrets.EMAIL"
              git clone $GIT_URL -b workflow bruh
              
       - name: Bot init
         env:
           BOTKEY: ${{ secrets.BOTKEY }}
           USERKEY: ${{ secrets.USERKEY }} 
         run: |
              cd bruh
              ls
              mv settings.py.sample settings.py
              sed -i "s/TOKEN = os.environ.get(\"TELEGRAM_API_TOKEN\", '')/TOKEN = os.environ.get(\"TELEGRAM_API_TOKEN\", '$BOTKEY')/g" settings.py
              sed -i "s/TOKEN = os.environ.get(\"ENABLED_USERS\", '')/TOKEN = os.environ.get(\"ENABLED_USERS\", '$USERKEY')/g" settings.py
              
               
               
       - name : Launch Bot
         continue-on-error: true
         timeout-minutes: 340
         run: |
              cd bruh
              python bot.py
 
         
