name: Cloning


on: [push] 

env:
  GIT_URL: https://github.com/JamieHoSzeYui/HenloBot
  BOTUN: ${{ secrets.BOTUN }}
  BOTKEY: ${{ secrets.BOTKEY }}
  USERKEY: ${{ secrets.USERKEY }}

jobs:
    build:
     runs-on: ubuntu-latest

     steps:
       - name: Checkout
         uses: actions/checkout@master
       
       - name: Clone your code
         run: | 
              sudo -E apt-get -qq update
              sudo -E apt-get -qq install expect python3-pip python3 
              pip install pipenv
              git config --global user.name "JamieHoSzeYui"
              git config --global user.email "secrets.EMAIL"
              git clone $GIT_URL bruh
              
       - name: Bot init
         env:
           BOTUN: ${{ secrets.BOTUN }}
           BOTKEY: ${{ secrets.BOTKEY }}
           USERKEY: ${{ secrets.USERKEY }}
           SFUN: ${{ secrets.SFUN }}
           SFPW: ${{ secrets.SFPW }}
         run: |
              cd bruh
              ls
              mv settings.py.sample settings.py
               sed -e -i "TOKEN = os.environ.get("TELEGRAM_API_TOKEN", '')/c\TOKEN = os.environ.get("TELEGRAM_API_TOKEN", '$BOTKEY')" settings.py
               sed -e -i "ENABLED_USERS = os.environ.get("ENABLED_USERS", '')/c\ENABLED_USERS = os.environ.get("ENABLED_USERS", '$USERKEY')" settings.py
               echo "$BOTKEY" >> token.txt
               
       - name : Launch Bot
         continue-on-error: true
         timeout-minutes: 340
         run: |
              cd bruh
              sudo python bot.py
 
         
